footer {
    margin: 10px 0px 100px 0px;
    width: 96vw;
    height: 40px;
    background-color: hsla(202, 81%, 23%, 0.600);
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}