.form ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 36%;
}

.form {    
    padding: 20px;
}

.resposta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.res {
    display: none;
    padding: 20px;
}

.status {
    display: none;
    padding: 5px;
}

.btnInicio {
    display: none;
}

.btnInicio {
    margin: 20px;
}